*,
::before,
::after {
  box-sizing: border-box;
}

/* caesar-dressing-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Caesar Dressing";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/caesar-dressing-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-size: 17px;
}

b,
strong {
  font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}

.left-side {
  flex: 1;
  background: url(imgs/halie-west-25xggax4bSA-unsplash.jpg) 0% / cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .left-side .credit { */
/*   display: flex; */
/*   justify-content: center; */
/* } */

footer p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  color: white;
  margin-left: 0.7ex;
  margin-right: 0.7ex;
}

.right-side {
  flex: 2;
  background-color: #ebebeb;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  box-sizing: border-box;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 150px;
  margin-top: 160px;
}
.title img {
  height: 100%;
}

.title h1 {
  margin: 0;
  font-family: "Caesar Dressing";
  font-size: 80px;
}

.greeting {
  max-width: 630px;
  margin: 100px 30px 20px;
  font-weight: 600;
}
.greeting p {
  font-size: 20px;
}

.form {
  position: relative;
}

.form-inputs {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 20px;
}

.form-details h2 {
  flex-basis: 100%;
  font-weight: 550;
  font-size: 21px;
  margin-bottom: 24px;
}

.form-details {
  background: white;
  border: none;
}
.form .form-details {
  padding: 0px 30px 25px;
  box-shadow: 0px 3px 5px lightgray;
}

label {
  font-size: 11px;
  font-weight: 520;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  font-size: 15px;
  padding: 3px;
}

.form-groups {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvatica, san, serif;
  letter-spacing: 1.5px;
}

button {
  font-weight: 500;
  color: white;
  box-shadow: 0px 3px 5px lightgray;
  background-color: #596d48;
  border-style: none;
  border-radius: 6px;
  padding: 13px 50px;
  margin: 30px 30px 0;
  white-space: nowrap;
}

.login {
  margin-top: 30px;
  margin-left: 30px;
}

.login a {
  font-weight: 500;
  color: #326207;
}

input:focus {
  outline: 1px solid blue;
  box-shadow: 0px 3px 5px rgb(185, 185, 185);
}

#password:invalid {
  outline: 1px solid red;
}
#password:valid {
  outline: 1px solid rgb(10, 215, 10);
}
